<div id="content">
  <div class="header">
    <h1>List of Angular Material Icons</h1>
  </div>
  <br>
  <br>
  <div class="resource-list">
    <mat-icon title="1 3d_rotation">3d_rotation</mat-icon>
    <mat-icon title="2 ac_unit">ac_unit</mat-icon>
    <mat-icon title="3 access_alarm">access_alarm</mat-icon>
    <mat-icon title="4 access_alarms">access_alarms</mat-icon>
    <mat-icon title="5 access_time">access_time</mat-icon>
    <mat-icon title="6 accessibility">accessibility</mat-icon>
    <mat-icon title="7 accessible">accessible</mat-icon>
    <mat-icon title="8 account_balance">account_balance</mat-icon>
    <mat-icon title="9 account_balance_wallet">account_balance_wallet</mat-icon>
    <mat-icon title="10 account_box">account_box</mat-icon>
    <mat-icon title="11 account_circle">account_circle</mat-icon>
    <mat-icon title="12 adb">adb</mat-icon>
    <mat-icon title="13 add">add</mat-icon>
    <mat-icon title="14 add_a_photo">add_a_photo</mat-icon>
    <mat-icon title="15 add_alarm">add_alarm</mat-icon>
    <mat-icon title="16 add_alert">add_alert</mat-icon>
    <mat-icon title="17 add_box">add_box</mat-icon>
    <mat-icon title="18 add_circle">add_circle</mat-icon>
    <mat-icon title="19 add_circle_outline">add_circle_outline</mat-icon>
    <mat-icon title="20 add_location">add_location</mat-icon>
    <mat-icon title="21 add_shopping_cart">add_shopping_cart</mat-icon>
    <mat-icon title="22 add_to_photos">add_to_photos</mat-icon>
    <mat-icon title="23 add_to_queue">add_to_queue</mat-icon>
    <mat-icon title="24 adjust">adjust</mat-icon>
    <mat-icon title="25 airline_seat_flat">airline_seat_flat</mat-icon>
    <mat-icon title="26 airline_seat_flat_angled">airline_seat_flat_angled</mat-icon>
    <mat-icon title="27 airline_seat_individual_suite">airline_seat_individual_suite</mat-icon>
    <mat-icon title="28 airline_seat_legroom_extra">airline_seat_legroom_extra</mat-icon>
    <mat-icon title="29 airline_seat_legroom_normal">airline_seat_legroom_normal</mat-icon>
    <mat-icon title="30 airline_seat_legroom_reduced">airline_seat_legroom_reduced</mat-icon>
    <mat-icon title="31 airline_seat_recline_extra">airline_seat_recline_extra</mat-icon>
    <mat-icon title="32 airline_seat_recline_normal">airline_seat_recline_normal</mat-icon>
    <mat-icon title="33 airplanemode_active">airplanemode_active</mat-icon>
    <mat-icon title="34 airplanemode_inactive">airplanemode_inactive</mat-icon>
    <mat-icon title="35 airplay">airplay</mat-icon>
    <mat-icon title="36 airport_shuttle">airport_shuttle</mat-icon>
    <mat-icon title="37 alarm">alarm</mat-icon>
    <mat-icon title="38 alarm_add">alarm_add</mat-icon>
    <mat-icon title="39 alarm_off">alarm_off</mat-icon>
    <mat-icon title="40 alarm_on">alarm_on</mat-icon>
    <mat-icon title="41 album">album</mat-icon>
    <mat-icon title="42 all_inclusive">all_inclusive</mat-icon>
    <mat-icon title="43 all_out">all_out</mat-icon>
    <mat-icon title="44 android">android</mat-icon>
    <mat-icon title="45 announcement">announcement</mat-icon>
    <mat-icon title="46 apps">apps</mat-icon>
    <mat-icon title="47 archive">archive</mat-icon>
    <mat-icon title="48 arrow_back">arrow_back</mat-icon>
    <mat-icon title="49 arrow_downward">arrow_downward</mat-icon>
    <mat-icon title="50 arrow_drop_down">arrow_drop_down</mat-icon>
    <br /><br />
    <mat-icon title="51 arrow_drop_down_circle">arrow_drop_down_circle</mat-icon>
    <mat-icon title="52 arrow_drop_up">arrow_drop_up</mat-icon>
    <mat-icon title="53 arrow_forward">arrow_forward</mat-icon>
    <mat-icon title="54 arrow_upward">arrow_upward</mat-icon>
    <mat-icon title="55 art_track">art_track</mat-icon>
    <mat-icon title="56 aspect_ratio">aspect_ratio</mat-icon>
    <mat-icon title="57 assessment">assessment</mat-icon>
    <mat-icon title="58 assignment">assignment</mat-icon>
    <mat-icon title="59 assignment_ind">assignment_ind</mat-icon>
    <mat-icon title="60 assignment_late">assignment_late</mat-icon>
    <mat-icon title="61 assignment_return">assignment_return</mat-icon>
    <mat-icon title="62 assignment_returned">assignment_returned</mat-icon>
    <mat-icon title="63 assignment_turned_in">assignment_turned_in</mat-icon>
    <mat-icon title="64 assistant">assistant</mat-icon>
    <mat-icon title="65 assistant_photo">assistant_photo</mat-icon>
    <mat-icon title="66 attach_file">attach_file</mat-icon>
    <mat-icon title="67 attach_money">attach_money</mat-icon>
    <mat-icon title="68 attachment">attachment</mat-icon>
    <mat-icon title="69 audiotrack">audiotrack</mat-icon>
    <mat-icon title="70 autorenew">autorenew</mat-icon>
    <mat-icon title="71 av_timer">av_timer</mat-icon>
    <mat-icon title="72 backspace">backspace</mat-icon>
    <mat-icon title="73 backup">backup</mat-icon>
    <mat-icon title="74 battery_alert">battery_alert</mat-icon>
    <mat-icon title="75 battery_charging_full">battery_charging_full</mat-icon>
    <mat-icon title="76 battery_full">battery_full</mat-icon>
    <mat-icon title="77 battery_std">battery_std</mat-icon>
    <mat-icon title="78 battery_unknown">battery_unknown</mat-icon>
    <mat-icon title="79 beach_access">beach_access</mat-icon>
    <mat-icon title="80 beenhere">beenhere</mat-icon>
    <mat-icon title="81 block">block</mat-icon>
    <mat-icon title="82 bluetooth">bluetooth</mat-icon>
    <mat-icon title="83 bluetooth_audio">bluetooth_audio</mat-icon>
    <mat-icon title="84 bluetooth_connected">bluetooth_connected</mat-icon>
    <mat-icon title="85 bluetooth_disabled">bluetooth_disabled</mat-icon>
    <mat-icon title="86 bluetooth_searching">bluetooth_searching</mat-icon>
    <mat-icon title="87 blur_circular">blur_circular</mat-icon>
    <mat-icon title="88 blur_linear">blur_linear</mat-icon>
    <mat-icon title="89 blur_off">blur_off</mat-icon>
    <mat-icon title="90 blur_on">blur_on</mat-icon>
    <mat-icon title="91 book">book</mat-icon>
    <mat-icon title="92 bookmark">bookmark</mat-icon>
    <mat-icon title="93 bookmark_border">bookmark_border</mat-icon>
    <mat-icon title="94 border_all">border_all</mat-icon>
    <mat-icon title="95 border_bottom">border_bottom</mat-icon>
    <mat-icon title="96 border_clear">border_clear</mat-icon>
    <mat-icon title="97 border_color">border_color</mat-icon>
    <mat-icon title="98 border_horizontal">border_horizontal</mat-icon>
    <mat-icon title="99 border_inner">border_inner</mat-icon>
    <mat-icon title="100 border_left">border_left</mat-icon>
    <br /><br />
    <mat-icon title="101 border_outer">border_outer</mat-icon>
    <mat-icon title="102 border_right">border_right</mat-icon>
    <mat-icon title="103 border_style">border_style</mat-icon>
    <mat-icon title="104 border_top">border_top</mat-icon>
    <mat-icon title="105 border_vertical">border_vertical</mat-icon>
    <mat-icon title="106 branding_watermark">branding_watermark</mat-icon>
    <mat-icon title="107 brightness_1">brightness_1</mat-icon>
    <mat-icon title="108 brightness_2">brightness_2</mat-icon>
    <mat-icon title="109 brightness_3">brightness_3</mat-icon>
    <mat-icon title="110 brightness_4">brightness_4</mat-icon>
    <mat-icon title="111 brightness_5">brightness_5</mat-icon>
    <mat-icon title="112 brightness_6">brightness_6</mat-icon>
    <mat-icon title="113 brightness_7">brightness_7</mat-icon>
    <mat-icon title="114 brightness_auto">brightness_auto</mat-icon>
    <mat-icon title="115 brightness_high">brightness_high</mat-icon>
    <mat-icon title="116 brightness_low">brightness_low</mat-icon>
    <mat-icon title="117 brightness_medium">brightness_medium</mat-icon>
    <mat-icon title="118 broken_image">broken_image</mat-icon>
    <mat-icon title="119 brush">brush</mat-icon>
    <mat-icon title="120 bubble_chart">bubble_chart</mat-icon>
    <mat-icon title="121 bug_report">bug_report</mat-icon>
    <mat-icon title="122 build">build</mat-icon>
    <mat-icon title="123 burst_mode">burst_mode</mat-icon>
    <mat-icon title="124 business">business</mat-icon>
    <mat-icon title="125 business_center">business_center</mat-icon>
    <mat-icon title="126 cached">cached</mat-icon>
    <mat-icon title="127 cake">cake</mat-icon>
    <mat-icon title="128 call">call</mat-icon>
    <mat-icon title="129 call_end">call_end</mat-icon>
    <mat-icon title="130 call_made">call_made</mat-icon>
    <mat-icon title="131 call_merge">call_merge</mat-icon>
    <mat-icon title="132 call_missed">call_missed</mat-icon>
    <mat-icon title="133 call_missed_outgoing">call_missed_outgoing</mat-icon>
    <mat-icon title="134 call_received">call_received</mat-icon>
    <mat-icon title="135 call_split">call_split</mat-icon>
    <mat-icon title="136 call_to_action">call_to_action</mat-icon>
    <mat-icon title="137 camera">camera</mat-icon>
    <mat-icon title="138 camera_alt">camera_alt</mat-icon>
    <mat-icon title="139 camera_enhance">camera_enhance</mat-icon>
    <mat-icon title="140 camera_front">camera_front</mat-icon>
    <mat-icon title="141 camera_rear">camera_rear</mat-icon>
    <mat-icon title="142 camera_roll">camera_roll</mat-icon>
    <mat-icon title="143 cancel">cancel</mat-icon>
    <mat-icon title="144 card_giftcard">card_giftcard</mat-icon>
    <mat-icon title="145 card_membership">card_membership</mat-icon>
    <mat-icon title="146 card_travel">card_travel</mat-icon>
    <mat-icon title="147 casino">casino</mat-icon>
    <mat-icon title="148 cast">cast</mat-icon>
    <mat-icon title="149 cast_connected">cast_connected</mat-icon>
    <mat-icon title="150 center_focus_strong">center_focus_strong</mat-icon>
    <br /><br />
    <mat-icon title="151 center_focus_weak">center_focus_weak</mat-icon>
    <mat-icon title="152 change_history">change_history</mat-icon>
    <mat-icon title="153 chat">chat</mat-icon>
    <mat-icon title="154 chat_bubble">chat_bubble</mat-icon>
    <mat-icon title="155 chat_bubble_outline">chat_bubble_outline</mat-icon>
    <mat-icon title="156 check">check</mat-icon>
    <mat-icon title="157 check_box">check_box</mat-icon>
    <mat-icon title="158 check_box_outline_blank">check_box_outline_blank</mat-icon>
    <mat-icon title="159 check_circle">check_circle</mat-icon>
    <mat-icon title="160 chevron_left">chevron_left</mat-icon>
    <mat-icon title="161 chevron_right">chevron_right</mat-icon>
    <mat-icon title="162 child_care">child_care</mat-icon>
    <mat-icon title="163 child_friendly">child_friendly</mat-icon>
    <mat-icon title="164 chrome_reader_mode">chrome_reader_mode</mat-icon>
    <mat-icon title="165 class">class</mat-icon>
    <mat-icon title="166 clear">clear</mat-icon>
    <mat-icon title="167 clear_all">clear_all</mat-icon>
    <mat-icon title="168 close">close</mat-icon>
    <mat-icon title="169 closed_caption">closed_caption</mat-icon>
    <mat-icon title="170 cloud">cloud</mat-icon>
    <mat-icon title="171 cloud_circle">cloud_circle</mat-icon>
    <mat-icon title="172 cloud_done">cloud_done</mat-icon>
    <mat-icon title="173 cloud_download">cloud_download</mat-icon>
    <mat-icon title="174 cloud_off">cloud_off</mat-icon>
    <mat-icon title="175 cloud_queue">cloud_queue</mat-icon>
    <mat-icon title="176 cloud_upload">cloud_upload</mat-icon>
    <mat-icon title="177 code">code</mat-icon>
    <mat-icon title="178 collections">collections</mat-icon>
    <mat-icon title="179 collections_bookmark">collections_bookmark</mat-icon>
    <mat-icon title="180 color_lens">color_lens</mat-icon>
    <mat-icon title="181 colorize">colorize</mat-icon>
    <mat-icon title="182 comment">comment</mat-icon>
    <mat-icon title="183 compare">compare</mat-icon>
    <mat-icon title="184 compare_arrows">compare_arrows</mat-icon>
    <mat-icon title="185 computer">computer</mat-icon>
    <mat-icon title="186 confirmation_number">confirmation_number</mat-icon>
    <mat-icon title="187 contact_mail">contact_mail</mat-icon>
    <mat-icon title="188 contact_phone">contact_phone</mat-icon>
    <mat-icon title="189 contacts">contacts</mat-icon>
    <mat-icon title="190 content_copy">content_copy</mat-icon>
    <mat-icon title="191 content_cut">content_cut</mat-icon>
    <mat-icon title="192 content_paste">content_paste</mat-icon>
    <mat-icon title="193 control_point">control_point</mat-icon>
    <mat-icon title="194 control_point_duplicate">control_point_duplicate</mat-icon>
    <mat-icon title="195 copyright">copyright</mat-icon>
    <mat-icon title="196 create">create</mat-icon>
    <mat-icon title="197 create_new_folder">create_new_folder</mat-icon>
    <mat-icon title="198 credit_card">credit_card</mat-icon>
    <mat-icon title="199 crop">crop</mat-icon>
    <mat-icon title="200 crop_16_9">crop_16_9</mat-icon>
    <br /><br />
    <mat-icon title="201 crop_3_2">crop_3_2</mat-icon>
    <mat-icon title="202 crop_5_4">crop_5_4</mat-icon>
    <mat-icon title="203 crop_7_5">crop_7_5</mat-icon>
    <mat-icon title="204 crop_din">crop_din</mat-icon>
    <mat-icon title="205 crop_free">crop_free</mat-icon>
    <mat-icon title="206 crop_landscape">crop_landscape</mat-icon>
    <mat-icon title="207 crop_original">crop_original</mat-icon>
    <mat-icon title="208 crop_portrait">crop_portrait</mat-icon>
    <mat-icon title="209 crop_rotate">crop_rotate</mat-icon>
    <mat-icon title="210 crop_square">crop_square</mat-icon>
    <mat-icon title="211 dashboard">dashboard</mat-icon>
    <mat-icon title="212 data_usage">data_usage</mat-icon>
    <mat-icon title="213 date_range">date_range</mat-icon>
    <mat-icon title="214 dehaze">dehaze</mat-icon>
    <mat-icon title="215 delete">delete</mat-icon>
    <mat-icon title="216 delete_forever">delete_forever</mat-icon>
    <mat-icon title="217 delete_sweep">delete_sweep</mat-icon>
    <mat-icon title="218 description">description</mat-icon>
    <mat-icon title="219 desktop_mac">desktop_mac</mat-icon>
    <mat-icon title="220 desktop_windows">desktop_windows</mat-icon>
    <mat-icon title="221 details">details</mat-icon>
    <mat-icon title="222 developer_board">developer_board</mat-icon>
    <mat-icon title="223 developer_mode">developer_mode</mat-icon>
    <mat-icon title="224 device_hub">device_hub</mat-icon>
    <mat-icon title="225 devices">devices</mat-icon>
    <mat-icon title="226 devices_other">devices_other</mat-icon>
    <mat-icon title="227 dialer_sip">dialer_sip</mat-icon>
    <mat-icon title="228 dialpad">dialpad</mat-icon>
    <mat-icon title="229 directions">directions</mat-icon>
    <mat-icon title="230 directions_bike">directions_bike</mat-icon>
    <mat-icon title="231 directions_boat">directions_boat</mat-icon>
    <mat-icon title="232 directions_bus">directions_bus</mat-icon>
    <mat-icon title="233 directions_car">directions_car</mat-icon>
    <mat-icon title="234 directions_railway">directions_railway</mat-icon>
    <mat-icon title="235 directions_run">directions_run</mat-icon>
    <mat-icon title="236 directions_subway">directions_subway</mat-icon>
    <mat-icon title="237 directions_transit">directions_transit</mat-icon>
    <mat-icon title="238 directions_walk">directions_walk</mat-icon>
    <mat-icon title="239 disc_full">disc_full</mat-icon>
    <mat-icon title="240 dns">dns</mat-icon>
    <mat-icon title="241 do_not_disturb">do_not_disturb</mat-icon>
    <mat-icon title="242 do_not_disturb_alt">do_not_disturb_alt</mat-icon>
    <mat-icon title="243 do_not_disturb_off">do_not_disturb_off</mat-icon>
    <mat-icon title="244 do_not_disturb_on">do_not_disturb_on</mat-icon>
    <mat-icon title="245 dock">dock</mat-icon>
    <mat-icon title="246 domain">domain</mat-icon>
    <mat-icon title="247 done">done</mat-icon>
    <mat-icon title="248 done_all">done_all</mat-icon>
    <mat-icon title="249 donut_large">donut_large</mat-icon>
    <mat-icon title="250 donut_small">donut_small</mat-icon>
    <br /><br />
    <mat-icon title="251 drafts">drafts</mat-icon>
    <mat-icon title="252 drag_handle">drag_handle</mat-icon>
    <mat-icon title="253 drive_eta">drive_eta</mat-icon>
    <mat-icon title="254 dvr">dvr</mat-icon>
    <mat-icon title="255 edit">edit</mat-icon>
    <mat-icon title="256 edit_location">edit_location</mat-icon>
    <mat-icon title="257 eject">eject</mat-icon>
    <mat-icon title="258 email">email</mat-icon>
    <mat-icon title="259 enhanced_encryption">enhanced_encryption</mat-icon>
    <mat-icon title="260 equalizer">equalizer</mat-icon>
    <mat-icon title="261 error">error</mat-icon>
    <mat-icon title="262 error_outline">error_outline</mat-icon>
    <mat-icon title="263 euro_symbol">euro_symbol</mat-icon>
    <mat-icon title="264 ev_station">ev_station</mat-icon>
    <mat-icon title="265 event">event</mat-icon>
    <mat-icon title="266 event_available">event_available</mat-icon>
    <mat-icon title="267 event_busy">event_busy</mat-icon>
    <mat-icon title="268 event_note">event_note</mat-icon>
    <mat-icon title="269 event_seat">event_seat</mat-icon>
    <mat-icon title="270 exit_to_app">exit_to_app</mat-icon>
    <mat-icon title="271 expand_less">expand_less</mat-icon>
    <mat-icon title="272 expand_more">expand_more</mat-icon>
    <mat-icon title="273 explicit">explicit</mat-icon>
    <mat-icon title="274 explore">explore</mat-icon>
    <mat-icon title="275 exposure">exposure</mat-icon>
    <mat-icon title="276 exposure_neg_1">exposure_neg_1</mat-icon>
    <mat-icon title="277 exposure_neg_2">exposure_neg_2</mat-icon>
    <mat-icon title="278 exposure_plus_1">exposure_plus_1</mat-icon>
    <mat-icon title="279 exposure_plus_2">exposure_plus_2</mat-icon>
    <mat-icon title="280 exposure_zero">exposure_zero</mat-icon>
    <mat-icon title="281 extension">extension</mat-icon>
    <mat-icon title="282 face">face</mat-icon>
    <mat-icon title="283 fast_forward">fast_forward</mat-icon>
    <mat-icon title="284 fast_rewind">fast_rewind</mat-icon>
    <mat-icon title="285 favorite">favorite</mat-icon>
    <mat-icon title="286 favorite_border">favorite_border</mat-icon>
    <mat-icon title="287 featured_play_list">featured_play_list</mat-icon>
    <mat-icon title="288 featured_video">featured_video</mat-icon>
    <mat-icon title="289 feedback">feedback</mat-icon>
    <mat-icon title="290 fiber_dvr">fiber_dvr</mat-icon>
    <mat-icon title="291 fiber_manual_record">fiber_manual_record</mat-icon>
    <mat-icon title="292 fiber_new">fiber_new</mat-icon>
    <mat-icon title="293 fiber_pin">fiber_pin</mat-icon>
    <mat-icon title="294 fiber_smart_record">fiber_smart_record</mat-icon>
    <mat-icon title="295 file_download">file_download</mat-icon>
    <mat-icon title="296 file_upload">file_upload</mat-icon>
    <mat-icon title="297 filter">filter</mat-icon>
    <mat-icon title="298 filter_1">filter_1</mat-icon>
    <mat-icon title="299 filter_2">filter_2</mat-icon>
    <mat-icon title="300 filter_3">filter_3</mat-icon>
    <br /><br />
    <mat-icon title="301 filter_4">filter_4</mat-icon>
    <mat-icon title="302 filter_5">filter_5</mat-icon>
    <mat-icon title="303 filter_6">filter_6</mat-icon>
    <mat-icon title="304 filter_7">filter_7</mat-icon>
    <mat-icon title="305 filter_8">filter_8</mat-icon>
    <mat-icon title="306 filter_9">filter_9</mat-icon>
    <mat-icon title="307 filter_9_plus">filter_9_plus</mat-icon>
    <mat-icon title="308 filter_b_and_w">filter_b_and_w</mat-icon>
    <mat-icon title="309 filter_center_focus">filter_center_focus</mat-icon>
    <mat-icon title="310 filter_drama">filter_drama</mat-icon>
    <mat-icon title="311 filter_frames">filter_frames</mat-icon>
    <mat-icon title="312 filter_hdr">filter_hdr</mat-icon>
    <mat-icon title="313 filter_list">filter_list</mat-icon>
    <mat-icon title="314 filter_none">filter_none</mat-icon>
    <mat-icon title="315 filter_tilt_shift">filter_tilt_shift</mat-icon>
    <mat-icon title="316 filter_vintage">filter_vintage</mat-icon>
    <mat-icon title="317 find_in_page">find_in_page</mat-icon>
    <mat-icon title="318 find_replace">find_replace</mat-icon>
    <mat-icon title="319 fingerprint">fingerprint</mat-icon>
    <mat-icon title="320 first_page">first_page</mat-icon>
    <mat-icon title="321 fitness_center">fitness_center</mat-icon>
    <mat-icon title="322 flag">flag</mat-icon>
    <mat-icon title="323 flare">flare</mat-icon>
    <mat-icon title="324 flash_auto">flash_auto</mat-icon>
    <mat-icon title="325 flash_off">flash_off</mat-icon>
    <mat-icon title="326 flash_on">flash_on</mat-icon>
    <mat-icon title="327 flight">flight</mat-icon>
    <mat-icon title="328 flight_land">flight_land</mat-icon>
    <mat-icon title="329 flight_takeoff">flight_takeoff</mat-icon>
    <mat-icon title="330 flip">flip</mat-icon>
    <mat-icon title="331 flip_to_back">flip_to_back</mat-icon>
    <mat-icon title="332 flip_to_front">flip_to_front</mat-icon>
    <mat-icon title="333 folder">folder</mat-icon>
    <mat-icon title="334 folder_open">folder_open</mat-icon>
    <mat-icon title="335 folder_shared">folder_shared</mat-icon>
    <mat-icon title="336 folder_special">folder_special</mat-icon>
    <mat-icon title="337 font_download">font_download</mat-icon>
    <mat-icon title="338 format_align_center">format_align_center</mat-icon>
    <mat-icon title="339 format_align_justify">format_align_justify</mat-icon>
    <mat-icon title="340 format_align_left">format_align_left</mat-icon>
    <mat-icon title="341 format_align_right">format_align_right</mat-icon>
    <mat-icon title="342 format_bold">format_bold</mat-icon>
    <mat-icon title="343 format_clear">format_clear</mat-icon>
    <mat-icon title="344 format_color_fill">format_color_fill</mat-icon>
    <mat-icon title="345 format_color_reset">format_color_reset</mat-icon>
    <mat-icon title="346 format_color_text">format_color_text</mat-icon>
    <mat-icon title="347 format_indent_decrease">format_indent_decrease</mat-icon>
    <mat-icon title="348 format_indent_increase">format_indent_increase</mat-icon>
    <mat-icon title="349 format_italic">format_italic</mat-icon>
    <mat-icon title="350 format_line_spacing">format_line_spacing</mat-icon>
    <br /><br />
    <mat-icon title="351 format_list_bulleted">format_list_bulleted</mat-icon>
    <mat-icon title="352 format_list_numbered">format_list_numbered</mat-icon>
    <mat-icon title="353 format_paint">format_paint</mat-icon>
    <mat-icon title="354 format_quote">format_quote</mat-icon>
    <mat-icon title="355 format_shapes">format_shapes</mat-icon>
    <mat-icon title="356 format_size">format_size</mat-icon>
    <mat-icon title="357 format_strikethrough">format_strikethrough</mat-icon>
    <mat-icon title="358 format_textdirection_l_to_r">format_textdirection_l_to_r</mat-icon>
    <mat-icon title="359 format_textdirection_r_to_l">format_textdirection_r_to_l</mat-icon>
    <mat-icon title="360 format_underlined">format_underlined</mat-icon>
    <mat-icon title="361 forum">forum</mat-icon>
    <mat-icon title="362 forward">forward</mat-icon>
    <mat-icon title="363 forward_10">forward_10</mat-icon>
    <mat-icon title="364 forward_30">forward_30</mat-icon>
    <mat-icon title="365 forward_5">forward_5</mat-icon>
    <mat-icon title="366 free_breakfast">free_breakfast</mat-icon>
    <mat-icon title="367 fullscreen">fullscreen</mat-icon>
    <mat-icon title="368 fullscreen_exit">fullscreen_exit</mat-icon>
    <mat-icon title="369 functions">functions</mat-icon>
    <mat-icon title="370 g_translate">g_translate</mat-icon>
    <mat-icon title="371 gamepad">gamepad</mat-icon>
    <mat-icon title="372 games">games</mat-icon>
    <mat-icon title="373 gavel">gavel</mat-icon>
    <mat-icon title="374 gesture">gesture</mat-icon>
    <mat-icon title="375 get_app">get_app</mat-icon>
    <mat-icon title="376 gif">gif</mat-icon>
    <mat-icon title="377 golf_course">golf_course</mat-icon>
    <mat-icon title="378 gps_fixed">gps_fixed</mat-icon>
    <mat-icon title="379 gps_not_fixed">gps_not_fixed</mat-icon>
    <mat-icon title="380 gps_off">gps_off</mat-icon>
    <mat-icon title="381 grade">grade</mat-icon>
    <mat-icon title="382 gradient">gradient</mat-icon>
    <mat-icon title="383 grain">grain</mat-icon>
    <mat-icon title="384 graphic_eq">graphic_eq</mat-icon>
    <mat-icon title="385 grid_off">grid_off</mat-icon>
    <mat-icon title="386 grid_on">grid_on</mat-icon>
    <mat-icon title="387 group">group</mat-icon>
    <mat-icon title="388 group_add">group_add</mat-icon>
    <mat-icon title="389 group_work">group_work</mat-icon>
    <mat-icon title="390 hd">hd</mat-icon>
    <mat-icon title="391 hdr_off">hdr_off</mat-icon>
    <mat-icon title="392 hdr_on">hdr_on</mat-icon>
    <mat-icon title="393 hdr_strong">hdr_strong</mat-icon>
    <mat-icon title="394 hdr_weak">hdr_weak</mat-icon>
    <mat-icon title="395 headset">headset</mat-icon>
    <mat-icon title="396 headset_mic">headset_mic</mat-icon>
    <mat-icon title="397 healing">healing</mat-icon>
    <mat-icon title="398 hearing">hearing</mat-icon>
    <mat-icon title="399 help">help</mat-icon>
    <mat-icon title="400 help_outline">help_outline</mat-icon>
    <br /><br />
    <mat-icon title="401 high_quality">high_quality</mat-icon>
    <mat-icon title="402 highlight">highlight</mat-icon>
    <mat-icon title="403 highlight_off">highlight_off</mat-icon>
    <mat-icon title="404 history">history</mat-icon>
    <mat-icon title="405 home">home</mat-icon>
    <mat-icon title="406 hot_tub">hot_tub</mat-icon>
    <mat-icon title="407 hotel">hotel</mat-icon>
    <mat-icon title="408 hourglass_empty">hourglass_empty</mat-icon>
    <mat-icon title="409 hourglass_full">hourglass_full</mat-icon>
    <mat-icon title="410 http">http</mat-icon>
    <mat-icon title="411 https">https</mat-icon>
    <mat-icon title="412 image">image</mat-icon>
    <mat-icon title="413 image_aspect_ratio">image_aspect_ratio</mat-icon>
    <mat-icon title="414 import_contacts">import_contacts</mat-icon>
    <mat-icon title="415 import_export">import_export</mat-icon>
    <mat-icon title="416 important_devices">important_devices</mat-icon>
    <mat-icon title="417 inbox">inbox</mat-icon>
    <mat-icon title="418 indeterminate_check_box">indeterminate_check_box</mat-icon>
    <mat-icon title="419 info">info</mat-icon>
    <mat-icon title="420 info_outline">info_outline</mat-icon>
    <mat-icon title="421 input">input</mat-icon>
    <mat-icon title="422 insert_chart">insert_chart</mat-icon>
    <mat-icon title="423 insert_comment">insert_comment</mat-icon>
    <mat-icon title="424 insert_drive_file">insert_drive_file</mat-icon>
    <mat-icon title="425 insert_emoticon">insert_emoticon</mat-icon>
    <mat-icon title="426 insert_invitation">insert_invitation</mat-icon>
    <mat-icon title="427 insert_link">insert_link</mat-icon>
    <mat-icon title="428 insert_photo">insert_photo</mat-icon>
    <mat-icon title="429 invert_colors">invert_colors</mat-icon>
    <mat-icon title="430 invert_colors_off">invert_colors_off</mat-icon>
    <mat-icon title="431 iso">iso</mat-icon>
    <mat-icon title="432 keyboard">keyboard</mat-icon>
    <mat-icon title="433 keyboard_arrow_down">keyboard_arrow_down</mat-icon>
    <mat-icon title="434 keyboard_arrow_left">keyboard_arrow_left</mat-icon>
    <mat-icon title="435 keyboard_arrow_right">keyboard_arrow_right</mat-icon>
    <mat-icon title="436 keyboard_arrow_up">keyboard_arrow_up</mat-icon>
    <mat-icon title="437 keyboard_backspace">keyboard_backspace</mat-icon>
    <mat-icon title="438 keyboard_capslock">keyboard_capslock</mat-icon>
    <mat-icon title="439 keyboard_hide">keyboard_hide</mat-icon>
    <mat-icon title="440 keyboard_return">keyboard_return</mat-icon>
    <mat-icon title="441 keyboard_tab">keyboard_tab</mat-icon>
    <mat-icon title="442 keyboard_voice">keyboard_voice</mat-icon>
    <mat-icon title="443 kitchen">kitchen</mat-icon>
    <mat-icon title="444 label">label</mat-icon>
    <mat-icon title="445 label_outline">label_outline</mat-icon>
    <mat-icon title="446 landscape">landscape</mat-icon>
    <mat-icon title="447 language">language</mat-icon>
    <mat-icon title="448 laptop">laptop</mat-icon>
    <mat-icon title="449 laptop_chromebook">laptop_chromebook</mat-icon>
    <mat-icon title="450 laptop_mac">laptop_mac</mat-icon>
    <br /><br />
    <mat-icon title="451 laptop_windows">laptop_windows</mat-icon>
    <mat-icon title="452 last_page">last_page</mat-icon>
    <mat-icon title="453 launch">launch</mat-icon>
    <mat-icon title="454 layers">layers</mat-icon>
    <mat-icon title="455 layers_clear">layers_clear</mat-icon>
    <mat-icon title="456 leak_add">leak_add</mat-icon>
    <mat-icon title="457 leak_remove">leak_remove</mat-icon>
    <mat-icon title="458 lens">lens</mat-icon>
    <mat-icon title="459 library_add">library_add</mat-icon>
    <mat-icon title="460 library_books">library_books</mat-icon>
    <mat-icon title="461 library_music">library_music</mat-icon>
    <mat-icon title="462 lightbulb_outline">lightbulb_outline</mat-icon>
    <mat-icon title="463 line_style">line_style</mat-icon>
    <mat-icon title="464 line_weight">line_weight</mat-icon>
    <mat-icon title="465 linear_scale">linear_scale</mat-icon>
    <mat-icon title="466 link">link</mat-icon>
    <mat-icon title="467 linked_camera">linked_camera</mat-icon>
    <mat-icon title="468 list">list</mat-icon>
    <mat-icon title="469 live_help">live_help</mat-icon>
    <mat-icon title="470 live_tv">live_tv</mat-icon>
    <mat-icon title="471 local_activity">local_activity</mat-icon>
    <mat-icon title="472 local_airport">local_airport</mat-icon>
    <mat-icon title="473 local_atm">local_atm</mat-icon>
    <mat-icon title="474 local_bar">local_bar</mat-icon>
    <mat-icon title="475 local_cafe">local_cafe</mat-icon>
    <mat-icon title="476 local_car_wash">local_car_wash</mat-icon>
    <mat-icon title="477 local_convenience_store">local_convenience_store</mat-icon>
    <mat-icon title="478 local_dining">local_dining</mat-icon>
    <mat-icon title="479 local_drink">local_drink</mat-icon>
    <mat-icon title="480 local_florist">local_florist</mat-icon>
    <mat-icon title="481 local_gas_station">local_gas_station</mat-icon>
    <mat-icon title="482 local_grocery_store">local_grocery_store</mat-icon>
    <mat-icon title="483 local_hospital">local_hospital</mat-icon>
    <mat-icon title="484 local_hotel">local_hotel</mat-icon>
    <mat-icon title="485 local_laundry_service">local_laundry_service</mat-icon>
    <mat-icon title="486 local_library">local_library</mat-icon>
    <mat-icon title="487 local_mall">local_mall</mat-icon>
    <mat-icon title="488 local_movies">local_movies</mat-icon>
    <mat-icon title="489 local_offer">local_offer</mat-icon>
    <mat-icon title="490 local_parking">local_parking</mat-icon>
    <mat-icon title="491 local_pharmacy">local_pharmacy</mat-icon>
    <mat-icon title="492 local_phone">local_phone</mat-icon>
    <mat-icon title="493 local_pizza">local_pizza</mat-icon>
    <mat-icon title="494 local_play">local_play</mat-icon>
    <mat-icon title="495 local_post_office">local_post_office</mat-icon>
    <mat-icon title="496 local_printshop">local_printshop</mat-icon>
    <mat-icon title="497 local_see">local_see</mat-icon>
    <mat-icon title="498 local_shipping">local_shipping</mat-icon>
    <mat-icon title="499 local_taxi">local_taxi</mat-icon>
    <mat-icon title="500 location_city">location_city</mat-icon>
    <br /><br />
    <mat-icon title="501 location_disabled">location_disabled</mat-icon>
    <mat-icon title="502 location_off">location_off</mat-icon>
    <mat-icon title="503 location_on">location_on</mat-icon>
    <mat-icon title="504 location_searching">location_searching</mat-icon>
    <mat-icon title="505 lock">lock</mat-icon>
    <mat-icon title="506 lock_open">lock_open</mat-icon>
    <mat-icon title="507 lock_outline">lock_outline</mat-icon>
    <mat-icon title="508 looks">looks</mat-icon>
    <mat-icon title="509 looks_3">looks_3</mat-icon>
    <mat-icon title="510 looks_4">looks_4</mat-icon>
    <mat-icon title="511 looks_5">looks_5</mat-icon>
    <mat-icon title="512 looks_6">looks_6</mat-icon>
    <mat-icon title="513 looks_one">looks_one</mat-icon>
    <mat-icon title="514 looks_two">looks_two</mat-icon>
    <mat-icon title="515 loop">loop</mat-icon>
    <mat-icon title="516 loupe">loupe</mat-icon>
    <mat-icon title="517 low_priority">low_priority</mat-icon>
    <mat-icon title="518 loyalty">loyalty</mat-icon>
    <mat-icon title="519 mail">mail</mat-icon>
    <mat-icon title="520 mail_outline">mail_outline</mat-icon>
    <mat-icon title="521 map">map</mat-icon>
    <mat-icon title="522 markunread">markunread</mat-icon>
    <mat-icon title="523 markunread_mailbox">markunread_mailbox</mat-icon>
    <mat-icon title="524 memory">memory</mat-icon>
    <mat-icon title="525 menu">menu</mat-icon>
    <mat-icon title="526 merge_type">merge_type</mat-icon>
    <mat-icon title="527 message">message</mat-icon>
    <mat-icon title="528 mic">mic</mat-icon>
    <mat-icon title="529 mic_none">mic_none</mat-icon>
    <mat-icon title="530 mic_off">mic_off</mat-icon>
    <mat-icon title="531 mms">mms</mat-icon>
    <mat-icon title="532 mode_comment">mode_comment</mat-icon>
    <mat-icon title="533 mode_edit">mode_edit</mat-icon>
    <mat-icon title="534 monetization_on">monetization_on</mat-icon>
    <mat-icon title="535 money_off">money_off</mat-icon>
    <mat-icon title="536 monochrome_photos">monochrome_photos</mat-icon>
    <mat-icon title="537 mood">mood</mat-icon>
    <mat-icon title="538 mood_bad">mood_bad</mat-icon>
    <mat-icon title="539 more">more</mat-icon>
    <mat-icon title="540 more_horiz">more_horiz</mat-icon>
    <mat-icon title="541 more_vert">more_vert</mat-icon>
    <mat-icon title="542 motorcycle">motorcycle</mat-icon>
    <mat-icon title="543 mouse">mouse</mat-icon>
    <mat-icon title="544 move_to_inbox">move_to_inbox</mat-icon>
    <mat-icon title="545 movie">movie</mat-icon>
    <mat-icon title="546 movie_creation">movie_creation</mat-icon>
    <mat-icon title="547 movie_filter">movie_filter</mat-icon>
    <mat-icon title="548 multiline_chart">multiline_chart</mat-icon>
    <mat-icon title="549 music_note">music_note</mat-icon>
    <mat-icon title="550 music_video">music_video</mat-icon>
    <br /><br />
    <mat-icon title="551 my_location">my_location</mat-icon>
    <mat-icon title="552 nature">nature</mat-icon>
    <mat-icon title="553 nature_people">nature_people</mat-icon>
    <mat-icon title="554 navigate_before">navigate_before</mat-icon>
    <mat-icon title="555 navigate_next">navigate_next</mat-icon>
    <mat-icon title="556 navigation">navigation</mat-icon>
    <mat-icon title="557 near_me">near_me</mat-icon>
    <mat-icon title="558 network_cell">network_cell</mat-icon>
    <mat-icon title="559 network_check">network_check</mat-icon>
    <mat-icon title="560 network_locked">network_locked</mat-icon>
    <mat-icon title="561 network_wifi">network_wifi</mat-icon>
    <mat-icon title="562 new_releases">new_releases</mat-icon>
    <mat-icon title="563 next_week">next_week</mat-icon>
    <mat-icon title="564 nfc">nfc</mat-icon>
    <mat-icon title="565 no_encryption">no_encryption</mat-icon>
    <mat-icon title="566 no_sim">no_sim</mat-icon>
    <mat-icon title="567 not_interested">not_interested</mat-icon>
    <mat-icon title="568 note">note</mat-icon>
    <mat-icon title="569 note_add">note_add</mat-icon>
    <mat-icon title="570 notifications">notifications</mat-icon>
    <mat-icon title="571 notifications_active">notifications_active</mat-icon>
    <mat-icon title="572 notifications_none">notifications_none</mat-icon>
    <mat-icon title="573 notifications_off">notifications_off</mat-icon>
    <mat-icon title="574 notifications_paused">notifications_paused</mat-icon>
    <mat-icon title="575 offline_pin">offline_pin</mat-icon>
    <mat-icon title="576 ondemand_video">ondemand_video</mat-icon>
    <mat-icon title="577 opacity">opacity</mat-icon>
    <mat-icon title="578 open_in_browser">open_in_browser</mat-icon>
    <mat-icon title="579 open_in_new">open_in_new</mat-icon>
    <mat-icon title="580 open_with">open_with</mat-icon>
    <mat-icon title="581 pages">pages</mat-icon>
    <mat-icon title="582 pageview">pageview</mat-icon>
    <mat-icon title="583 palette">palette</mat-icon>
    <mat-icon title="584 pan_tool">pan_tool</mat-icon>
    <mat-icon title="585 panorama">panorama</mat-icon>
    <mat-icon title="586 panorama_fish_eye">panorama_fish_eye</mat-icon>
    <mat-icon title="587 panorama_horizontal">panorama_horizontal</mat-icon>
    <mat-icon title="588 panorama_vertical">panorama_vertical</mat-icon>
    <mat-icon title="589 panorama_wide_angle">panorama_wide_angle</mat-icon>
    <mat-icon title="590 party_mode">party_mode</mat-icon>
    <mat-icon title="591 pause">pause</mat-icon>
    <mat-icon title="592 pause_circle_filled">pause_circle_filled</mat-icon>
    <mat-icon title="593 pause_circle_outline">pause_circle_outline</mat-icon>
    <mat-icon title="594 payment">payment</mat-icon>
    <mat-icon title="595 people">people</mat-icon>
    <mat-icon title="596 people_outline">people_outline</mat-icon>
    <mat-icon title="597 perm_camera_mic">perm_camera_mic</mat-icon>
    <mat-icon title="598 perm_contact_calendar">perm_contact_calendar</mat-icon>
    <mat-icon title="599 perm_data_setting">perm_data_setting</mat-icon>
    <mat-icon title="600 perm_device_information">perm_device_information</mat-icon>
    <br /><br />
    <mat-icon title="601 perm_identity">perm_identity</mat-icon>
    <mat-icon title="602 perm_media">perm_media</mat-icon>
    <mat-icon title="603 perm_phone_msg">perm_phone_msg</mat-icon>
    <mat-icon title="604 perm_scan_wifi">perm_scan_wifi</mat-icon>
    <mat-icon title="605 person">person</mat-icon>
    <mat-icon title="606 person_add">person_add</mat-icon>
    <mat-icon title="607 person_outline">person_outline</mat-icon>
    <mat-icon title="608 person_pin">person_pin</mat-icon>
    <mat-icon title="609 person_pin_circle">person_pin_circle</mat-icon>
    <mat-icon title="610 personal_video">personal_video</mat-icon>
    <mat-icon title="611 pets">pets</mat-icon>
    <mat-icon title="612 phone">phone</mat-icon>
    <mat-icon title="613 phone_android">phone_android</mat-icon>
    <mat-icon title="614 phone_bluetooth_speaker">phone_bluetooth_speaker</mat-icon>
    <mat-icon title="615 phone_forwarded">phone_forwarded</mat-icon>
    <mat-icon title="616 phone_in_talk">phone_in_talk</mat-icon>
    <mat-icon title="617 phone_iphone">phone_iphone</mat-icon>
    <mat-icon title="618 phone_locked">phone_locked</mat-icon>
    <mat-icon title="619 phone_missed">phone_missed</mat-icon>
    <mat-icon title="620 phone_paused">phone_paused</mat-icon>
    <mat-icon title="621 phonelink">phonelink</mat-icon>
    <mat-icon title="622 phonelink_erase">phonelink_erase</mat-icon>
    <mat-icon title="623 phonelink_lock">phonelink_lock</mat-icon>
    <mat-icon title="624 phonelink_off">phonelink_off</mat-icon>
    <mat-icon title="625 phonelink_ring">phonelink_ring</mat-icon>
    <mat-icon title="626 phonelink_setup">phonelink_setup</mat-icon>
    <mat-icon title="627 photo">photo</mat-icon>
    <mat-icon title="628 photo_album">photo_album</mat-icon>
    <mat-icon title="629 photo_camera">photo_camera</mat-icon>
    <mat-icon title="630 photo_filter">photo_filter</mat-icon>
    <mat-icon title="631 photo_library">photo_library</mat-icon>
    <mat-icon title="632 photo_size_select_actual">photo_size_select_actual</mat-icon>
    <mat-icon title="633 photo_size_select_large">photo_size_select_large</mat-icon>
    <mat-icon title="634 photo_size_select_small">photo_size_select_small</mat-icon>
    <mat-icon title="635 picture_as_pdf">picture_as_pdf</mat-icon>
    <mat-icon title="636 picture_in_picture">picture_in_picture</mat-icon>
    <mat-icon title="637 picture_in_picture_alt">picture_in_picture_alt</mat-icon>
    <mat-icon title="638 pie_chart">pie_chart</mat-icon>
    <mat-icon title="639 pie_chart_outlined">pie_chart_outlined</mat-icon>
    <mat-icon title="640 pin_drop">pin_drop</mat-icon>
    <mat-icon title="641 place">place</mat-icon>
    <mat-icon title="642 play_arrow">play_arrow</mat-icon>
    <mat-icon title="643 play_circle_filled">play_circle_filled</mat-icon>
    <mat-icon title="644 play_circle_outline">play_circle_outline</mat-icon>
    <mat-icon title="645 play_for_work">play_for_work</mat-icon>
    <mat-icon title="646 playlist_add">playlist_add</mat-icon>
    <mat-icon title="647 playlist_add_check">playlist_add_check</mat-icon>
    <mat-icon title="648 playlist_play">playlist_play</mat-icon>
    <mat-icon title="649 plus_one">plus_one</mat-icon>
    <mat-icon title="650 poll">poll</mat-icon>
    <br /><br />
    <mat-icon title="651 polymer">polymer</mat-icon>
    <mat-icon title="652 pool">pool</mat-icon>
    <mat-icon title="653 portable_wifi_off">portable_wifi_off</mat-icon>
    <mat-icon title="654 portrait">portrait</mat-icon>
    <mat-icon title="655 power">power</mat-icon>
    <mat-icon title="656 power_input">power_input</mat-icon>
    <mat-icon title="657 power_settings_new">power_settings_new</mat-icon>
    <mat-icon title="658 pregnant_woman">pregnant_woman</mat-icon>
    <mat-icon title="659 present_to_all">present_to_all</mat-icon>
    <mat-icon title="660 print">print</mat-icon>
    <mat-icon title="661 priority_high">priority_high</mat-icon>
    <mat-icon title="662 public">public</mat-icon>
    <mat-icon title="663 publish">publish</mat-icon>
    <mat-icon title="664 query_builder">query_builder</mat-icon>
    <mat-icon title="665 question_answer">question_answer</mat-icon>
    <mat-icon title="666 queue">queue</mat-icon>
    <mat-icon title="667 queue_music">queue_music</mat-icon>
    <mat-icon title="668 queue_play_next">queue_play_next</mat-icon>
    <mat-icon title="669 radio">radio</mat-icon>
    <mat-icon title="670 radio_button_checked">radio_button_checked</mat-icon>
    <mat-icon title="671 radio_button_unchecked">radio_button_unchecked</mat-icon>
    <mat-icon title="672 rate_review">rate_review</mat-icon>
    <mat-icon title="673 receipt">receipt</mat-icon>
    <mat-icon title="674 recent_actors">recent_actors</mat-icon>
    <mat-icon title="675 record_voice_over">record_voice_over</mat-icon>
    <mat-icon title="676 redeem">redeem</mat-icon>
    <mat-icon title="677 redo">redo</mat-icon>
    <mat-icon title="678 refresh">refresh</mat-icon>
    <mat-icon title="679 remove">remove</mat-icon>
    <mat-icon title="680 remove_circle">remove_circle</mat-icon>
    <mat-icon title="681 remove_circle_outline">remove_circle_outline</mat-icon>
    <mat-icon title="682 remove_from_queue">remove_from_queue</mat-icon>
    <mat-icon title="683 remove_red_eye">remove_red_eye</mat-icon>
    <mat-icon title="684 remove_shopping_cart">remove_shopping_cart</mat-icon>
    <mat-icon title="685 reorder">reorder</mat-icon>
    <mat-icon title="686 repeat">repeat</mat-icon>
    <mat-icon title="687 repeat_one">repeat_one</mat-icon>
    <mat-icon title="688 replay">replay</mat-icon>
    <mat-icon title="689 replay_10">replay_10</mat-icon>
    <mat-icon title="690 replay_30">replay_30</mat-icon>
    <mat-icon title="691 replay_5">replay_5</mat-icon>
    <mat-icon title="692 reply">reply</mat-icon>
    <mat-icon title="693 reply_all">reply_all</mat-icon>
    <mat-icon title="694 report">report</mat-icon>
    <mat-icon title="695 report_problem">report_problem</mat-icon>
    <mat-icon title="696 restaurant">restaurant</mat-icon>
    <mat-icon title="697 restaurant_menu">restaurant_menu</mat-icon>
    <mat-icon title="698 restore">restore</mat-icon>
    <mat-icon title="699 restore_page">restore_page</mat-icon>
    <mat-icon title="700 ring_volume">ring_volume</mat-icon>
    <br /><br />
    <mat-icon title="701 room">room</mat-icon>
    <mat-icon title="702 room_service">room_service</mat-icon>
    <mat-icon title="703 rotate_90_degrees_ccw">rotate_90_degrees_ccw</mat-icon>
    <mat-icon title="704 rotate_left">rotate_left</mat-icon>
    <mat-icon title="705 rotate_right">rotate_right</mat-icon>
    <mat-icon title="706 rounded_corner">rounded_corner</mat-icon>
    <mat-icon title="707 router">router</mat-icon>
    <mat-icon title="708 rowing">rowing</mat-icon>
    <mat-icon title="709 rss_feed">rss_feed</mat-icon>
    <mat-icon title="710 rv_hookup">rv_hookup</mat-icon>
    <mat-icon title="711 satellite">satellite</mat-icon>
    <mat-icon title="712 save">save</mat-icon>
    <mat-icon title="713 scanner">scanner</mat-icon>
    <mat-icon title="714 schedule">schedule</mat-icon>
    <mat-icon title="715 school">school</mat-icon>
    <mat-icon title="716 screen_lock_landscape">screen_lock_landscape</mat-icon>
    <mat-icon title="717 screen_lock_portrait">screen_lock_portrait</mat-icon>
    <mat-icon title="718 screen_lock_rotation">screen_lock_rotation</mat-icon>
    <mat-icon title="719 screen_rotation">screen_rotation</mat-icon>
    <mat-icon title="720 screen_share">screen_share</mat-icon>
    <mat-icon title="721 sd_card">sd_card</mat-icon>
    <mat-icon title="722 sd_storage">sd_storage</mat-icon>
    <mat-icon title="723 search">search</mat-icon>
    <mat-icon title="724 security">security</mat-icon>
    <mat-icon title="725 select_all">select_all</mat-icon>
    <mat-icon title="726 send">send</mat-icon>
    <mat-icon title="727 sentiment_dissatisfied">sentiment_dissatisfied</mat-icon>
    <mat-icon title="728 sentiment_neutral">sentiment_neutral</mat-icon>
    <mat-icon title="729 sentiment_satisfied">sentiment_satisfied</mat-icon>
    <mat-icon title="730 sentiment_very_dissatisfied">sentiment_very_dissatisfied</mat-icon>
    <mat-icon title="731 sentiment_very_satisfied">sentiment_very_satisfied</mat-icon>
    <mat-icon title="732 settings">settings</mat-icon>
    <mat-icon title="733 settings_applications">settings_applications</mat-icon>
    <mat-icon title="734 settings_backup_restore">settings_backup_restore</mat-icon>
    <mat-icon title="735 settings_bluetooth">settings_bluetooth</mat-icon>
    <mat-icon title="736 settings_brightness">settings_brightness</mat-icon>
    <mat-icon title="737 settings_cell">settings_cell</mat-icon>
    <mat-icon title="738 settings_ethernet">settings_ethernet</mat-icon>
    <mat-icon title="739 settings_input_antenna">settings_input_antenna</mat-icon>
    <mat-icon title="740 settings_input_component">settings_input_component</mat-icon>
    <mat-icon title="741 settings_input_composite">settings_input_composite</mat-icon>
    <mat-icon title="742 settings_input_hdmi">settings_input_hdmi</mat-icon>
    <mat-icon title="743 settings_input_svideo">settings_input_svideo</mat-icon>
    <mat-icon title="744 settings_overscan">settings_overscan</mat-icon>
    <mat-icon title="745 settings_phone">settings_phone</mat-icon>
    <mat-icon title="746 settings_power">settings_power</mat-icon>
    <mat-icon title="747 settings_remote">settings_remote</mat-icon>
    <mat-icon title="748 settings_system_daydream">settings_system_daydream</mat-icon>
    <mat-icon title="749 settings_voice">settings_voice</mat-icon>
    <mat-icon title="750 share">share</mat-icon>
    <br /><br />
    <mat-icon title="751 shop">shop</mat-icon>
    <mat-icon title="752 shop_two">shop_two</mat-icon>
    <mat-icon title="753 shopping_basket">shopping_basket</mat-icon>
    <mat-icon title="754 shopping_cart">shopping_cart</mat-icon>
    <mat-icon title="755 short_text">short_text</mat-icon>
    <mat-icon title="756 show_chart">show_chart</mat-icon>
    <mat-icon title="757 shuffle">shuffle</mat-icon>
    <mat-icon title="758 signal_cellular_4_bar">signal_cellular_4_bar</mat-icon>
    <mat-icon
      title="759 signal_cellular_connected_no_internet_4_bar">signal_cellular_connected_no_internet_4_bar</mat-icon>
    <mat-icon title="760 signal_cellular_no_sim">signal_cellular_no_sim</mat-icon>
    <mat-icon title="761 signal_cellular_null">signal_cellular_null</mat-icon>
    <mat-icon title="762 signal_cellular_off">signal_cellular_off</mat-icon>
    <mat-icon title="763 signal_wifi_4_bar">signal_wifi_4_bar</mat-icon>
    <mat-icon title="764 signal_wifi_4_bar_lock">signal_wifi_4_bar_lock</mat-icon>
    <mat-icon title="765 signal_wifi_off">signal_wifi_off</mat-icon>
    <mat-icon title="766 sim_card">sim_card</mat-icon>
    <mat-icon title="767 sim_card_alert">sim_card_alert</mat-icon>
    <mat-icon title="768 skip_next">skip_next</mat-icon>
    <mat-icon title="769 skip_previous">skip_previous</mat-icon>
    <mat-icon title="770 slideshow">slideshow</mat-icon>
    <mat-icon title="771 slow_motion_video">slow_motion_video</mat-icon>
    <mat-icon title="772 smartphone">smartphone</mat-icon>
    <mat-icon title="773 smoke_free">smoke_free</mat-icon>
    <mat-icon title="774 smoking_rooms">smoking_rooms</mat-icon>
    <mat-icon title="775 sms">sms</mat-icon>
    <mat-icon title="776 sms_failed">sms_failed</mat-icon>
    <mat-icon title="777 snooze">snooze</mat-icon>
    <mat-icon title="778 sort">sort</mat-icon>
    <mat-icon title="779 sort_by_alpha">sort_by_alpha</mat-icon>
    <mat-icon title="780 spa">spa</mat-icon>
    <mat-icon title="781 space_bar">space_bar</mat-icon>
    <mat-icon title="782 speaker">speaker</mat-icon>
    <mat-icon title="783 speaker_group">speaker_group</mat-icon>
    <mat-icon title="784 speaker_notes">speaker_notes</mat-icon>
    <mat-icon title="785 speaker_notes_off">speaker_notes_off</mat-icon>
    <mat-icon title="786 speaker_phone">speaker_phone</mat-icon>
    <mat-icon title="787 spellcheck">spellcheck</mat-icon>
    <mat-icon title="788 star">star</mat-icon>
    <mat-icon title="789 star_border">star_border</mat-icon>
    <mat-icon title="790 star_half">star_half</mat-icon>
    <mat-icon title="791 stars">stars</mat-icon>
    <mat-icon title="792 stay_current_landscape">stay_current_landscape</mat-icon>
    <mat-icon title="793 stay_current_portrait">stay_current_portrait</mat-icon>
    <mat-icon title="794 stay_primary_landscape">stay_primary_landscape</mat-icon>
    <mat-icon title="795 stay_primary_portrait">stay_primary_portrait</mat-icon>
    <mat-icon title="796 stop">stop</mat-icon>
    <mat-icon title="797 stop_screen_share">stop_screen_share</mat-icon>
    <mat-icon title="798 storage">storage</mat-icon>
    <mat-icon title="799 store">store</mat-icon>
    <mat-icon title="800 store_mall_directory">store_mall_directory</mat-icon>
    <br /><br />
    <mat-icon title="801 straighten">straighten</mat-icon>
    <mat-icon title="802 streetview">streetview</mat-icon>
    <mat-icon title="803 strikethrough_s">strikethrough_s</mat-icon>
    <mat-icon title="804 style">style</mat-icon>
    <mat-icon title="805 subdirectory_arrow_left">subdirectory_arrow_left</mat-icon>
    <mat-icon title="806 subdirectory_arrow_right">subdirectory_arrow_right</mat-icon>
    <mat-icon title="807 subject">subject</mat-icon>
    <mat-icon title="808 subscriptions">subscriptions</mat-icon>
    <mat-icon title="809 subtitles">subtitles</mat-icon>
    <mat-icon title="810 subway">subway</mat-icon>
    <mat-icon title="811 supervisor_account">supervisor_account</mat-icon>
    <mat-icon title="812 surround_sound">surround_sound</mat-icon>
    <mat-icon title="813 swap_calls">swap_calls</mat-icon>
    <mat-icon title="814 swap_horiz">swap_horiz</mat-icon>
    <mat-icon title="815 swap_vert">swap_vert</mat-icon>
    <mat-icon title="816 swap_vertical_circle">swap_vertical_circle</mat-icon>
    <mat-icon title="817 switch_camera">switch_camera</mat-icon>
    <mat-icon title="818 switch_video">switch_video</mat-icon>
    <mat-icon title="819 sync">sync</mat-icon>
    <mat-icon title="820 sync_disabled">sync_disabled</mat-icon>
    <mat-icon title="821 sync_problem">sync_problem</mat-icon>
    <mat-icon title="822 system_update">system_update</mat-icon>
    <mat-icon title="823 system_update_alt">system_update_alt</mat-icon>
    <mat-icon title="824 tab">tab</mat-icon>
    <mat-icon title="825 tab_unselected">tab_unselected</mat-icon>
    <mat-icon title="826 tablet">tablet</mat-icon>
    <mat-icon title="827 tablet_android">tablet_android</mat-icon>
    <mat-icon title="828 tablet_mac">tablet_mac</mat-icon>
    <mat-icon title="829 tag_faces">tag_faces</mat-icon>
    <mat-icon title="830 tap_and_play">tap_and_play</mat-icon>
    <mat-icon title="831 terrain">terrain</mat-icon>
    <mat-icon title="832 text_fields">text_fields</mat-icon>
    <mat-icon title="833 text_format">text_format</mat-icon>
    <mat-icon title="834 textsms">textsms</mat-icon>
    <mat-icon title="835 texture">texture</mat-icon>
    <mat-icon title="836 theaters">theaters</mat-icon>
    <mat-icon title="837 thumb_down">thumb_down</mat-icon>
    <mat-icon title="838 thumb_up">thumb_up</mat-icon>
    <mat-icon title="839 thumbs_up_down">thumbs_up_down</mat-icon>
    <mat-icon title="840 time_to_leave">time_to_leave</mat-icon>
    <mat-icon title="841 timelapse">timelapse</mat-icon>
    <mat-icon title="842 timeline">timeline</mat-icon>
    <mat-icon title="843 timer">timer</mat-icon>
    <mat-icon title="844 timer_10">timer_10</mat-icon>
    <mat-icon title="845 timer_3">timer_3</mat-icon>
    <mat-icon title="846 timer_off">timer_off</mat-icon>
    <mat-icon title="847 title">title</mat-icon>
    <mat-icon title="848 toc">toc</mat-icon>
    <mat-icon title="849 today">today</mat-icon>
    <mat-icon title="850 toll">toll</mat-icon>
    <br /><br />
    <mat-icon title="851 tonality">tonality</mat-icon>
    <mat-icon title="852 touch_app">touch_app</mat-icon>
    <mat-icon title="853 toys">toys</mat-icon>
    <mat-icon title="854 track_changes">track_changes</mat-icon>
    <mat-icon title="855 traffic">traffic</mat-icon>
    <mat-icon title="856 train">train</mat-icon>
    <mat-icon title="857 tram">tram</mat-icon>
    <mat-icon title="858 transfer_within_a_station">transfer_within_a_station</mat-icon>
    <mat-icon title="859 transform">transform</mat-icon>
    <mat-icon title="860 translate">translate</mat-icon>
    <mat-icon title="861 trending_down">trending_down</mat-icon>
    <mat-icon title="862 trending_flat">trending_flat</mat-icon>
    <mat-icon title="863 trending_up">trending_up</mat-icon>
    <mat-icon title="864 tune">tune</mat-icon>
    <mat-icon title="865 turned_in">turned_in</mat-icon>
    <mat-icon title="866 turned_in_not">turned_in_not</mat-icon>
    <mat-icon title="867 tv">tv</mat-icon>
    <mat-icon title="868 unarchive">unarchive</mat-icon>
    <mat-icon title="869 undo">undo</mat-icon>
    <mat-icon title="870 unfold_less">unfold_less</mat-icon>
    <mat-icon title="871 unfold_more">unfold_more</mat-icon>
    <mat-icon title="872 update">update</mat-icon>
    <mat-icon title="873 usb">usb</mat-icon>
    <mat-icon title="874 verified_user">verified_user</mat-icon>
    <mat-icon title="875 vertical_align_bottom">vertical_align_bottom</mat-icon>
    <mat-icon title="876 vertical_align_center">vertical_align_center</mat-icon>
    <mat-icon title="877 vertical_align_top">vertical_align_top</mat-icon>
    <mat-icon title="878 vibration">vibration</mat-icon>
    <mat-icon title="879 video_call">video_call</mat-icon>
    <mat-icon title="880 video_label">video_label</mat-icon>
    <mat-icon title="881 video_library">video_library</mat-icon>
    <mat-icon title="882 videocam">videocam</mat-icon>
    <mat-icon title="883 videocam_off">videocam_off</mat-icon>
    <mat-icon title="884 videogame_asset">videogame_asset</mat-icon>
    <mat-icon title="885 view_agenda">view_agenda</mat-icon>
    <mat-icon title="886 view_array">view_array</mat-icon>
    <mat-icon title="887 view_carousel">view_carousel</mat-icon>
    <mat-icon title="888 view_column">view_column</mat-icon>
    <mat-icon title="889 view_comfy">view_comfy</mat-icon>
    <mat-icon title="890 view_compact">view_compact</mat-icon>
    <mat-icon title="891 view_day">view_day</mat-icon>
    <mat-icon title="892 view_headline">view_headline</mat-icon>
    <mat-icon title="893 view_list">view_list</mat-icon>
    <mat-icon title="894 view_module">view_module</mat-icon>
    <mat-icon title="895 view_quilt">view_quilt</mat-icon>
    <mat-icon title="896 view_stream">view_stream</mat-icon>
    <mat-icon title="897 view_week">view_week</mat-icon>
    <mat-icon title="898 vignette">vignette</mat-icon>
    <mat-icon title="899 visibility">visibility</mat-icon>
    <mat-icon title="900 visibility_off">visibility_off</mat-icon>
    <br /><br />
    <mat-icon title="901 voice_chat">voice_chat</mat-icon>
    <mat-icon title="902 voicemail">voicemail</mat-icon>
    <mat-icon title="903 volume_down">volume_down</mat-icon>
    <mat-icon title="904 volume_mute">volume_mute</mat-icon>
    <mat-icon title="905 volume_off">volume_off</mat-icon>
    <mat-icon title="906 volume_up">volume_up</mat-icon>
    <mat-icon title="907 vpn_key">vpn_key</mat-icon>
    <mat-icon title="908 vpn_lock">vpn_lock</mat-icon>
    <mat-icon title="909 wallpaper">wallpaper</mat-icon>
    <mat-icon title="910 warning">warning</mat-icon>
    <mat-icon title="911 watch">watch</mat-icon>
    <mat-icon title="912 watch_later">watch_later</mat-icon>
    <mat-icon title="913 wb_auto">wb_auto</mat-icon>
    <mat-icon title="914 wb_cloudy">wb_cloudy</mat-icon>
    <mat-icon title="915 wb_incandescent">wb_incandescent</mat-icon>
    <mat-icon title="916 wb_iridescent">wb_iridescent</mat-icon>
    <mat-icon title="917 wb_sunny">wb_sunny</mat-icon>
    <mat-icon title="918 wc">wc</mat-icon>
    <mat-icon title="919 web">web</mat-icon>
    <mat-icon title="920 web_asset">web_asset</mat-icon>
    <mat-icon title="921 weekend">weekend</mat-icon>
    <mat-icon title="922 whatshot">whatshot</mat-icon>
    <mat-icon title="923 widgets">widgets</mat-icon>
    <mat-icon title="924 wifi">wifi</mat-icon>
    <mat-icon title="925 wifi_lock">wifi_lock</mat-icon>
    <mat-icon title="926 wifi_tethering">wifi_tethering</mat-icon>
    <mat-icon title="927 work">work</mat-icon>
    <mat-icon title="928 wrap_text">wrap_text</mat-icon>
    <mat-icon title="929 youtube_searched_for">youtube_searched_for</mat-icon>
    <mat-icon title="930 zoom_in">zoom_in</mat-icon>
    <mat-icon title="931 zoom_out">zoom_out</mat-icon>
    <mat-icon title="932 zoom_out_map">zoom_out_map</mat-icon>
  </div>
</div>